<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.board.BoardMapper">
    <insert id ="postBoard">
        INSERT INTO board
        (title, contents, writer)
        VALUES
        (#{title},#{contents},#{writer})
    </insert>

    <delete id="deleteBoard">
        DELETE FROM board
        WHERE board_id = #{board_id}
    </delete>

    <select id="getBoardList">
        SELECT board_id as boardId, title, writer,created_at as createdAt
        FROM board
        ORDER BY board_id DESC
    </select>

    <select id="getBoardOne">
        SELECT board_id as boardId, title, contents, writer, created_at as createdAt
        FROM board
        WHERE board_id=#{board_id}
        <!--알리아스로 내가 가진 변수의 이름-->
    </select>

    <update id="putBoard">
        UPDATE board
        <!--<set> 콤마를 없애고 자동으로 set으로 적어줌 -->
            SET updated_at = NOW()
            <if test="title!=null and title !=''">
                ,title=#{title}
            </if>
            <if test="contents!=null and contents !=''">
                , contents=#{contents}
            </if>
            <if test="writer!=null and writer !=''">
                , writer=#{writer}
            </if>
            WHERE board_id=#{boardId}
        <!--</set>-->
    </update>
</mapper>


<!--XML의 주석-->